<%- include('includes/header'); %>
<%- include('includes/navbar'); %>


  <div class="container">
  <div class="col-lg-2"></div>
    
  <div class="col-lg-8 my-3">

    <h1 class="text-center">Your Personal Contact Book Online</h1>
    <p class="text-center lead">All your contacts saved in one place!</p>

    
      <div class="responsible-table">
        <thead>
        <table class="table my-3">
          <tr>
            <td>Eike</td>
            <td>Menezes</td>
            <td>+55 (11) 98749-5842</td>
            <td>eike.cmenezes2@gmail.com</td>
          </tr>

          <tr>
            <td>Emyly</td>
            <td>Menezes</td>
            <td>+55 (11) 97857-1247</td>
            <td>emily.cmenezes@gmail.com</td>
          </tr>

          <tr>
            <td>Pierre</td>
            <td>Menezes</td>
            <td>+55 (11) 97875-4782</td>
            <td>pierre.menezes@gmail.com</td>
          </tr>
        </table>
      </div>
    </div>
    
    <div class="col-lg-2"></div>


   </div>

  
<%- include('includes/footer') %>
