.main {
  background: #fff;
  padding: 30px;
  margin: 50px auto;
  max-width: 90%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  text-align: center;
}

.main h1{
  font-size: 40px;
  padding: 1 1 1 1;
}
